<html>
  <head>
    <title>Youtube</title>
  </head>

{{!-- css for the application --}}
<style>
 main {
  margin-left: 20px;
  padding: 30px;
  background-color: rgba(38, 38, 38, 0.997);
  border-radius: 10px;
  text-align: left;
}
p {
  font-size: 20px;
  color: rgb(255, 255, 255);
  margin-bottom: 25px;
  margin-top: 25px;
}
h1 {
  margin-top: 10px;
  font-size: 30px;
  color: rgb(255, 255, 255);
}
h3{
  font-size: 20px;
  margin-top: 10px;
  color:rgb(255, 255, 255)

}
body {
  background-color: rgba(38, 38, 38, 0.997);
  font-family: Arial, sans-serif;
}
hr {
  border: none;
  border-top: 3px solid #bcbcbc;
  margin-top: 50px;
  margin-bottom: 50px;
}
input {
  padding: auto;
  width: 300px;
  height: 25px;
}

form input[type="text"] {
  background-color: #393939; /* Set the background color */
  color: #ffffff; /* Set the text color */
  border-radius: 5px;
}
form{
  padding-bottom: 30px;
}
form button {
  height: 25px;
  cursor: pointer;
}
form button:hover{
    color:rgb(255, 255, 255);
    background-color: #393939;
    border-radius: 5px;
}
img {
  border-radius: 13px;
  width: 400px;
  height: 250px;
  border: #ffffff;
}
button{
  cursor: pointer;
  height: 25px;
}
.button:hover{
    color: #ffffff;
    background-color: darkgray;
}
.search{
    text-align: center;
    
}
.container{
    display: flex;
}
.video,
.details {
  width: fit-content;
  margin-right: 10px;
  padding-left: 40px;
}
.site-name{
    font-size: 50px;
    color: white;
    margin: 70px;
}
.site-name:hover{
    color: red;
    
}
.page-title{
  text-align: center;
  font-size: 35px;
  color: silver;
  padding-bottom: 30px;
}
.admin-details{
  font-size: 20px;
  padding-bottom: 10px;
  padding-top: 10px

}
nav {
  background-color: #393939;
  height: 50px;
  border-radius: 7px;
  display: flex;
  
 
  align-items: center;
  padding: 0 20px;
 
  top: 0;
  left: 0;
  right: 0;
}

nav a {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav a:hover {
  background-color: darkgray;
}

</style>
  <body>
    <nav class="links">
        <a href="/" class="active">Home page</a>
        <a href="/admin">Admin</a>
    </nav>
    {{{body}}}
  </body>
</html>

